[project]
	description = Prueba para analisis de codigo RPG - 03/08/2017
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/volx008
[access "refs/for/refs/*"]
	read = group user/volx008
	push = group user/volx008
	label-Code-Review = -2..+2 group user/volx008
	label-Verified = -1..+1 group user/volx008
	rebase = group user/volx008
	removeReviewer = group user/volx008
	submit = group user/volx008
[access "refs/heads/*"]
	read = group user/volx008
	create = group user/volx008
	push = +force group user/volx008
	pushMerge = group user/volx008
[access "refs/tags/*"]
	push = group user/volx008
	push = +force group user/volx008
